{% extends 'base.html' %} 

{% block content %}


<h1>Home</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt similique
  ipsum culpa ea ipsa cupiditate dolor, consectetur laboriosam vero nisi eaque
  eius maiores iste. Architecto maxime magni veritatis ipsam laborum, ipsum hic
  ullam labore dolorem nulla rerum eos! Ullam itaque, omnis ipsam eos, quibusdam
  maiores necessitatibus dolorem facilis laborum exercitationem dignissimos
  velit perspiciatis reiciendis minus ab beatae? Minus qui quo eius, aspernatur
  quod minima perspiciatis vero in placeat ex! Corrupti deleniti eveniet id sit
  in nesciunt dolores architecto quam fugit inventore, officiis cupiditate
  distinctio nemo cumque necessitatibus nulla pariatur quo recusandae commodi.
  Voluptatum perspiciatis cupiditate reprehenderit. Perspiciatis laboriosam quis
  cupiditate!
</p>

{{error}}



{% endblock %}
