{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="menu-page"> <!-- Agregado un ID único -->
  <h2>Selecciona tu menú</h2>
  <form method="post">
    {% csrf_token %}
    
    {% for menu in menus %}
      <div class="menu-card">
        <input type="checkbox" id="menu_{{ menu.id }}" name="menu" value="{{ menu.id }}">
        <label for="menu_{{ menu.id }}">
          {% if request.user.is_superuser or request.user.username == 'yandry' %}
            <a href="{% url 'detalle_menu' menu.id %}">Menú {{ menu.option_number }} - Día: {{ menu.day }}</a>
          {% else %}
            Menú {{ menu.option_number }} - Día: {{ menu.day }}
          {% endif %}
        </label>
        <ul>
          <li>Sopa: {{ menu.soup }}</li>
          <li>Arroz: {{ menu.rice }}</li>
          <li>Proteína: {{ menu.protein }}</li>
          <li>Guarnición: {{ menu.garnish }}</li>
          <li>Ensalada: {{ menu.salad }}</li>
          <li>Bebida: {{ menu.drink }}</li>
          <li>Postre: {{ menu.dessert }}</li>
        </ul>
      </div>
    {% endfor %}
    
    <button type="submit" class="styled-button">Seleccionar Menú</button>
  </form>
</div>

<!-- Vincular el archivo CSS -->
<link rel="stylesheet" href="{% static 'CSS/menulist.css' %}">


{% endblock %}